body {
    margin: 0;
    font-family: "roboto";
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
}

.header_links {
    display: flex;
    gap: 15px;
    align-items: center;
    margin: 0;
}

ul {
    list-style: none;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.headliner {
    background-color: #1F2937;
    padding: 50px 100px 100px 100px;
    display: flex;
}

.headliner_left {
    flex-grow: 1;
    width: 50%;
    padding: 30px 60px 30px 0;
}

.headliner_header {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.headliner_content {
    color: #e5e7eb;
    font-size: 18px;
}

button {
    background-color: #3882F6;
    color: #e5e7eb;
    padding: 5px 20px;
    border-radius: 8px;
    width: 100px;
    border: none;
}

.headliner_right {
    flex-grow: 1;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.placeholder {
    background-color: gray;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_area {
    display: flex;
    flex-direction: column;
    padding: 0 100px 75px 100px;
    justify-content: center;
    align-items: center;
}

.card_header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.card_holder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 150px;
}

.card_box {
    border: #3882F6 solid;
    width: 150px;
    height: 150px;
    border-radius: 15px;
}

.card_text {
    text-align: center;
}

.quote_area {
    padding: 100px 325px;
    background-color: #e5e7eb;
}

.quote {
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.quote_name {
    text-align: right;
    font-weight: 900;
    color: #1F2937;
}

.calltoaction_area {
    padding: 75px 100px;
}

.calltoaction_box {
    display: flex;
    background-color: #3882F6;
    justify-content: space-between;
    padding: 30px 50px;
    border-radius: 15px;
}

.calltoaction_box_left {
    padding: 20px 60px;
    display: flex;
    flex-direction: column;
}

.calltoaction_box_right {
    max-width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 60px;
}

#button_with_border {
    border-style: solid;
    border-color: #e5e7eb;
    border-width: 2px;
}

.calltoaction_header {
    margin: 0;
    font-size: 20px;
    
}

.calltoaction_text {
    margin: 0;
}

.calltoaction_header,
.calltoaction_text {
    color: #e5e7eb;
}

.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    color: #e5e7eb;
}