body {
    margin: 0;
    font-family: "roboto";
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
}

.header_links {
    display: flex;
    gap: 15px;
    align-items: center;
    margin: 0;
}

ul {
    list-style: none;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.headliner {
    background-color: #1F2937;
    padding: 50px 100px 100px 100px;
    display: flex;
}

.headliner_left {
    flex-grow: 1;
    width: 50%;
    padding: 30px 60px;
}

.headliner_header {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.headliner_content {
    color: #e5e7eb;
    font-size: 18px;
}

button {
    background-color: #3882F6;
    color: #e5e7eb;
    padding: 5px 20px;
    border-radius: 8px;
    width: 100px;
    border: none;
}

.headliner_right {
    flex-grow: 1;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.placeholder {
    background-color: gray;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}